@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100&display=swap');

.header {
  display: flex;
  background-color: blue;
  height: 55px;
  width: 100%;
  justify-content:space-around; 
  padding-top: 2px;
  
}

.paper {
  display: flex;
  max-width:90%;
  height: 120px;
  justify-content:flex-end; 
  align-items: flex-start;
  flex-direction: column-reverse;
  color:black;
}

.op {
  display:flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  width: 320px;
  color:black;
  padding-bottom: 20px;
}

.op1 {
  margin-right: 10px; 
  padding-right: 10px;
  padding-bottom: 5px;
}

.image {
  border-style:none;
  background: none;
}

.input1 {
  list-style-type:none;
  color:black;
}

.opp {
  margin-top: 100px; 
  padding:20px;
}

.button {
  
  width: 320px;
  height: 55px;
  font-size: 1rem;
}

.form {
  display: flex;
  flex-direction: row;
}

.list {
  list-style-type:none;
  display:flex;
  flex-direction: row;
  justify-content:flex-start;
  align-items: center;
  padding-left: 70px;
}

.list li {
  margin-right: 15px;
  color:white;
}